torch
torchtext
datasets
transformers
datasets
bitsandbytes
scipy
SentencePiece
protobuf
nltk
torchtext
torchmetrics
spacy
overrides==3.1.0
boto3==1.21.13
jsonpickle==2.1.0
h5py
tensorboardX==2.5
gdown
